

body {
  /* background-color: white; */
  background-image: url("images/cat-bg-blue-dots-large.jpg");
}

img {
  max-height: 120px;
}

#gameRow {
  background-color: white;
}

.border-dark {
  border-color: #444cfa !important;
  border-width: 2px !important;
  background-color: white !important;
}

h3 {
  color: #444cfa;
}

h4 {
  color: #444cfa;
}

h5 {
  color: #444cfa;
}
