

body {
  /* background-color: white; */
  background-image: url("images/cat-bg-blue-dots-large.jpg");
  background-size: cover;
}

img {
  max-height: 120px;
}

#gameRow {
  background-color: white;
}

.border-dark {
  border-color: #444cfa !important;
  border-width: 3px !important;
  background-color: white !important;
}

#back-button {
  background-color: #444cfa !important;

}

h1{
  color: #444cfa;
}

h3 {
  color: #444cfa;
}

h4 {
  color: #444cfa;
}

h5 {
  color: #444cfa;
}

h6 {
  color: #444cfa;
}

.credits {
  font-size: 16px;
}

li > a  {
  color: #444cfa !important;
}

p > a {
    color: #444cfa !important;
}

p > span {
  text-decoration: line-through;
}

.smallerPic {
  width: 25px;
  height: 25px;
}